.footer{
	padding: 50px 0;
	background-color: #3c3c3c;
	text-align: center;
	font-family: 'Lato', sans-serif;
	&-logo{
		display: inline-block;
		margin-bottom: 35px;
	}
	&-nav-list{
		display: inline-block;
		margin-bottom: 25px;
	}
	&-nav-item{
		float: left;
		margin-left: 20px;
		&:first-child{
			margin-left: 0;
		}
	}
	&-nav-link{
		font-size: 14px;
		color: #a4a4a4;
		transition: 0.3s;
		&:hover{
			color: #ada074;
		}
	}
	&-text{
		font-size: 14px;
		color: #777777;
		font-weight: 300;
	}
}