.menu-nav{
	border-bottom: 1px solid #f2f2f2;
	font-family: 'Lato', sans-serif;
}

.fixed{
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.menu-block-fixed{
	display: none;
	height: 62px;
}

.nav-title{
	font-size: 26px;
	line-height: 60px;
	color: #3c3c3c;
	font-weight: bold;
}

.menu{
	&-list{
		float: right;
	}
	&-item{
		float: left;
		line-height: 60px;
		margin-left: 40px;
	}
	&-link{
		font-size: 15px;
		color: #3c3c3c;
		transition: 0.3s;
		&:hover{
			color: #ada074;
		}
	}
}

.menu-bars{
	position: fixed;
	display: none;
	width: 35px;
	height: 25px;
	cursor: pointer;
	top: 17.5px;
	right: 20px;
	z-index: 9999;
	span{
		top:10px;
		width: 35px;
		position: absolute;
		height: 5px;
		display: block;
		background-color: #fff;
		border-radius: 5px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			@extend span;
			top: -10px;
			transition: 0.3s;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			@extend span;
			bottom: -10px;    
			transition: 0.3s;
		}
	}
	span.active{
		width: 0;
		transition: 0s;
		background-color: white;
		transition-delay: 0.3s;
		&:before{
			top: 0px;
			transition: 0.3s;
			width: 35px;
			background-color: white;
		}
		&:after{
			top: 0px;
			transition: 0.3s;
			width: 35px;
			background-color: white;
		}
	}
	span.close{
		&:before{
			transform:rotate(45deg);
			height: 5px;
			background-color: white;
			transition: 0.3s;
		}
		&:after{
			transform:rotate(-45deg);
			width: 35px;
			height: 5px;
			background-color: white;
			transition: 0.3s;
		}
	}
}