@font-face {
	font-family: 'PFDinDisplayPro';
	src: url(https://lull.com/assets/PFDinDisplayPro-Light.eot);
	src: url(https://lull.com/assets/PFDinDisplayPro-Light.eot?#iefix) format('embedded-opentype'), 
		url(https://lull.com/assets/PFDinDisplayPro-Light.woff) format('woff'), 
		url(https://lull.com/assets/PFDinDisplayPro-Light.ttf) format('truetype'), 
		url(https://lull.com/assets/PFDinDisplayPro-Light.svg#svgPFDinDisplayPro-Light) format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: url(https://lull.com/assets/PFDinDisplayPro-Regular.eot);
	src: url(https://lull.com/assets/PFDinDisplayPro-Regular.eot?#iefix) format('embedded-opentype'), 
	url(https://lull.com/assets/PFDinDisplayPro-Regular.woff) format('woff'), 
	url(https://lull.com/assets/PFDinDisplayPro-Regular.ttf) format('truetype'), 
	url(https://lull.com/assets/PFDinDisplayPro-Regular.svg#svgPFDinDisplayPro-Regular) format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: url(https://lull.com/assets/PFDinDisplayPro-Medium.eot);
	src: url(https://lull.com/assets/PFDinDisplayPro-Medium.eot?#iefix) format('embedded-opentype'), 
		url(https://lull.com/assets/PFDinDisplayPro-Medium.woff) format('woff'), 
		url(https://lull.com/assets/PFDinDisplayPro-Medium.ttf) format('truetype'),
		url(https://lull.com/assets/PFDinDisplayPro-Medium.svg#svgPFDinDisplayPro-Medium) format('svg');
	font-weight: 500;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: url(https://lull.com/assets/PFDinDisplayPro-Bold.eot);
	src: url(https://lull.com/assets/PFDinDisplayPro-Bold.eot?#iefix) format('embedded-opentype'), 
		url(https://lull.com/assets/PFDinDisplayPro-Bold.woff) format('woff'), 
		url(https://lull.com/assets/PFDinDisplayPro-Bold.ttf) format('truetype'), 
		url(https://lull.com/assets/PFDinDisplayPro-Bold.svg#svgPFDinDisplayPro-Bold) format('svg');
	font-weight: 700;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: url(https://lull.com/assets/PFDinDisplayPro-Black.eot);
	src: url(https://lull.com/assets/PFDinDisplayPro-Black.eot?#iefix) format('embedded-opentype'), 
		url(https://lull.com/assets/PFDinDisplayPro-Black.woff) format('woff'), 
		url(https://lull.com/assets/PFDinDisplayPro-Black.ttf) format('truetype'), 
		url(https://lull.com/assets/PFDinDisplayPro-Black.svg#svgPFDinDisplayPro-Black) format('svg');
	font-weight: 900;
}